body {
    text-align: center;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
}

#number {
    background-color: antiquewhite;
    border-radius: 60px;
}

#number2 {
    background-color: antiquewhite;
    border-radius: 60px;
}

button:hover {
    cursor: wait;
}

div {
    border-radius: 10%;
    border-style: dashed;
    margin-left: auto;
    margin-right: auto;
}